* {
    margin: 0;
    padding: 0;   
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #10001f;
    background: rgba(65, 5, 121, 0.5);

}

/*Header*/
header {
    padding: 20px;
    background: rgba(66, 3, 102, 0.356);
    color:#e7e0ee;
    text-align: center;
    border-radius: 80px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
input, button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}
section {
    padding: 20px;
    margin: 10px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 90px;
    background-color: #d377fd;
    text-align: center;
    margin-bottom: 15px;
    font-size: 20px;
}

